# Agromovil
Proyecto para gestion de cultivos 

Para configurar el ambiente de desarrollo necesita:

1. LAMP (Linux, Apache, MySQL o MariaDB, PHP5)
2. PHPUnit
3. Git
4. Una DB con nombre Desarrollo y usuario develop

PDO
sudo apt-get install php5-gd php5-mysql

